.chat {
  background-color: #212C59;
  color: #FFFFFF;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.historico {
  border: 1px solid #FFFFFF;
  padding: 10px;
  height: 300px;
  margin-bottom: 10px;
  background-color: transparent;
  color: #FFFFFF;
}

.usuario {
  color: #FFFFFF;
}

.ia {
  color: #FFFFFF;
}

form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
}

form button {
  background-color: #FFFFFF;
  color: #212C59;
  border-radius: 12px;
  padding: 10px 36px;
  border: none;
  cursor: pointer;
}

form button:hover {
  background-color: #212C59;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}